<!DOCTYPE html>
    <html lang="en">
        <head>
        	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic' rel='stylesheet' type='text/css'>
        	<link rel="stylesheet" href="application.css" type="text/css" />
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="really_cool.js"></script>
            <meta charset="UTF-8">
            <title>Follower Compare</title>
        </head>
        <body>
        	<div class="container">
	<!--         	<h1>My name is <%= @name %></h1>
	        	<% if @show_description %>
	        		<p>This is my description</p>
	        	<% end %> -->
	        	<!-- <div class="overlay"></div> -->
	        	<div class="content">
		        	<h1>Follower Compare</h1>
		        	<p>Pick two Twitter handles to begin the compare-athon.</p>
					<form action="/twitter" method=POST>
						<div class="input">
							<label for="first_user">Username 1:</label>
							<input type="text" name="first_user" id="user_1" />
						</div>
						<div class="input">
							<label for="second_user">Username 2:</label>
							<input type="text" name="second_user" id="user_2" />
						</div>
						<div class="input">
							<input id="submit" type="submit" value="Submit" />
						</div>
					</form>
				</div>
			</div>
        </body>
    </html>



